* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --card-bg: #eff4f7;
  --text-color: #f9f9f9;

  --button-text: #f4917e;
  --body-bg: #675cab;
  --comment-card: #0b0622;
}

.block {
  display: block;
  text-align: center;
}
/* header */
header {
  text-align: center;
  margin-bottom: 1em;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-bg);
}
/* nav */
.navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 2em;
}
.nav-body li {
  color: var(--button-text);
}

/* home */

.sort-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: 10em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.sort-container div {
  text-align: center;
  margin-bottom: 1em;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
img {
  width: 100%;
  object-fit: cover;
}
.articles-container article {
  width: 90%;
  background-color: var(--card-bg);
  padding: 0.5em;
  border-radius: 20px;
}

button,
h3 {
  font-size: 1.2rem;
  cursor: pointer;

  color: var(--button-text);
}

.center {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* single article */
.article_container {
  padding-top: 1em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--card-bg);
  padding: 0.5em;
  border-radius: 20px;
}

.cta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  /* margin-bottom: 2em; */
}
.justify {
  text-align: left;
  /* color: red; */
}
/* comments */
.comment-container {
  width: 90%;
  height: 200px;

  overflow-y: scroll;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0.5em;
  display: none;
  background-color: var(--comment-card);
  color: var(--text-color);
}
.new-comment {
  text-align: center;
  margin-top: -13px;
  margin-bottom: 2em;
}
.center-button {
  text-align: center;
}
.center-button strong {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.like-button {
  cursor: pointer;
}
.checked {
  color: aqua;
  background-color: transparent;
  font-size: 1.3rem;
}
.unchecked {
  font-size: 1.3rem;
  background-color: transparent;
}
textarea {
  border: 2px solid;
}
.post-comment-container {
  text-align: center;
  padding: 1em;
}
.post-comment-container button {
  margin-left: 1em;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;

  margin-bottom: 1em;
}
.comment-body {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}
.popup-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  padding: 3em;
  overflow: hidden;
  display: none;
}
.text-color {
  color: var(--button-text);
}
.warning {
  color: red;
}
.show-post-commment,
.display {
  display: block;
}
.margin-top {
  margin-bottom: 1em;
}
.hide {
  display: none;
}
.vote-comment-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .sort-container {
    font-size: 1.4rem;
  }
  .sort-container select {
    font-size: 1.3rem;
  }
  .articles-container p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 750px) {
  .navigation ul {
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    font-size: 1.5rem;
  }
  .sort-container {
    font-size: 1.5rem;
  }
  .sort-container select {
    font-size: 1.4rem;
  }
  .articles-container p {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.2em;
  }
  .article_container {
    width: 80%;
    font-size: 1.6rem;
  }
  .comment-container {
    font-size: 1.4rem;
  }
  .article_container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .sort-container {
    flex-direction: row;
  }
  .articles-container article {
    width: 28%;
  }
  .articles-container p {
    font-size: 1.3rem;
  }
  .article_container {
    width: 100%;

    font-size: 1.2rem;
  }
  .article_container img {
    width: 40%;
  }
  .cta {
    flex-direction: row;
    font-size: 1rem;
  }
  .justify {
    width: 70%;
    margin: 0 auto;
  }

  .comment-container {
    height: 400px;
    width: 60%;
  }
  .article_container {
    width: 60%;
  }
}
